/*Navigation Bar Styles*/
.custom-underline {
  position: relative;
}

.custom-underline::after {
  content: '';
  color: #FF007B;
  position: absolute;
  width: 0%;
  height: 0.125rem;
  bottom: 0.25rem;
  left: 0;
  transform: translateX(0);
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
  /* Controls animation speed and style */
}

.custom-underline:hover::after {
  width: 100%;
}


.custom-underline:active {
  background-color: transparent;
  color: grey;
}

.custom-underline:active::after {
  color: #ff007b59;
}

.custom-fontSize {
  font-size: 0.800rem;
}