/*Navigation Bar Styles*/
.custom-underline {
  position: relative;
}

.custom-underline::after {
  content: '';
  color: #FF007B;
  position: absolute;
  width: 0%;
  height: 0.125rem;
  bottom: 0.25rem;
  left: 0;
  transform: translateX(0);
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
  /* Controls animation speed and style */
}

.custom-underline:hover::after {
  width: 100%;
}


.custom-underline:active {
  background-color: transparent;
  color: grey;
}

.custom-underline:active::after {
  color: #ff007b59;
}

.custom-static-underline {
  position: relative;
}

.custom-static-underline:active {
  background-color: transparent;
  color: grey;
  ;
}

.custom-static-underline:active::after {
  content: '';
  color: #ff007b59;
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background-color: currentColor;
}

.custom-fontSize {
  font-size: 0.800rem;
}

.highlighted-text {
  background: linear-gradient(1deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 25%,
      #FF007B40 25%,
      #FF007B40 60%,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 0) 65%,
      #ff007b30 65%,
      #ff007b30 80%,
      rgba(255, 255, 255, 0) 80%,
      rgba(255, 255, 255, 0) 100%);
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 5rem;
  z-index: -1;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.2s ease-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-90deg);
  }
}

.animate-rotate {
  animation: rotate 0.3s ease-out forwards;
}